{% if heroBackground is defined and heroBackground != null %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-7">
            <h1 class="font-weight-bold text-center my-4 mt-md-3">{{entry.heroTitle}}</h1>
        </div>
    </div>
    <div class="card bg-light text-white border-0 shadow fade-in-up">
        <img src="{{heroBackground.getUrl}}" class="card-img" alt="{{heroBackground.title}}" title="{{heroBackground.title}}">
    </div>
</div>
{% endif %}