.request-quote{

    @include media-breakpoint-down(sm) {
        background-color: #FFD65A!important;

        .container {
            max-width: 100%;

            .card {
                background: transparent !important;
                border: none;
            }
        }
    }
}