{% extends "layout.html" %}

{% set requestedSlug = craft.app.request.getSegment(2) %}
{% set page = entry %}

{% block content %}

<main>

    {% include 'partials/navbar/index.html' %}

    <section class="py-2">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white pl-0">
                    <li class="breadcrumb-item"><a href="{{ siteUrl }}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
                </ol>
            </nav>
        </div>
    </section>

    <section class="pt-3 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-2">
                    {% include 'partials/content/index.html' %}
                </div>
            </div>
        </div>
    </section>

    {% set services = craft.entries()
        .section('services')
        .all() %}

    <section class="prices py-5 bg-light">
        <div class="container">
            <div class="row justify-content-center price-card-slider">
                {% for service in services %}
                    <div class="mx-1 mx-md-2">
                        {% include 'partials/price-card/index.html' with {
                            service: service,
                            hideButtons: true,
                            hideImage: false
                        } %}
                    </div>
                {% endfor %}
            </div>
            <div class="d-flex">
                <a href="{{ siteUrl }}book" class="btn btn-primary mx-auto mt-3">Book Now</a>
            </div>
        </div>
    </section>    

    <section class="py-5">
        {% include 'partials/cta/index.html' %}
    </section>

</main>

{% endblock %}