{% extends "layout.html" %}

{% set requestedSlug = craft.app.request.getSegment(2) %}
{% set page = entry %}

{% block content %}

<main>

    {% include 'partials/navbar/index.html' %}

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    {{ page.generalContent }}
                </div>
            </div>
        </div>
    </section>

    {% set services = craft.entries()
        .section('services')
        .all() %}

    <section class="prices py-5 bg-light">
        <div class="container">
            <div class="row justify-content-center">
                {% for service in services %}
                    <div class="col-12 col-sm-6 col-md-6 col-xl-4 mb-2">
                        {% include 'partials/price-card/index.html' with {
                            service: service
                        } %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>    

    <section class="py-5">
        {% include 'partials/cta/index.html' %}
    </section>

</main>

{% endblock %}