{% if page is defined%}
    {% set entry = page %}
{% endif %}

{% set i = 1 %}
{% set rows = entry.generalContent.all() %}

{% for row in rows %}
    <div class="row{{rows|length != i ? ' mb-2'}}">
        {% if row.type == "singleColumn" %}
            <div class="col-12">
                {{row.editor}}
            </div>
        {% elseif row.type == "twoColumn" %}
            <div class="col-12 col-md-6 mb-2">
                {{row.editorLeft}}
            </div>
            <div class="col-12 col-md-6 mb-2">
                {{row.editorRight}}
            </div>
        {% endif %}
    </div>
    {% set i = i + 1 %}
{% endfor %}
<hr class="my-2">
<div class="row">
    <div class="col-12">
        <p class="small mb-1"><i class="fa fa-share mr-1"></i>Share this page</p>
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <div class="addthis_inline_share_toolbox"></div>
    </div>
</div>