{% extends "layout.html" %}

{% set requestedSlug = craft.app.request.getSegment(2) %}
{% set entry = craft.entries().slug(requestedSlug|literal).one() %}
{% set heroBackground = entry.heroBackground.one() %}
{% set accreditations = craft.entries().section('accreditations').all() %}
{% set services = craft.entries().section('services').all() %}

{% block content %}

{% if craft.app.request.getSegment(3)|length > 0 %}
    {% set postcode = craft.app.request.getSegment(3) %}
    <input type="hidden" id="postcode" value="{{postcode}}">
    <input type="hidden" id="baseUrl" value="{{siteUrl}}">
{% endif %}

<main>

    {% include 'partials/navbar/index.html' with {
        services: services
    } %}

    <section class="py-2">
        <div class="container">
            {% set breadcrumbs = [
                    {
                        name: 'Home',
                        url: siteUrl
                    },
                    {
                        name: entry.title,
                        url: entry.url
                    }
                ]
            %}
            {% if postcode is defined %}
                {% set breadcrumbs = breadcrumbs|merge([
                        {
                            name: postcode,
                            url: siteUrl
                        }
                    ])
                %}
            {% endif %}
            {% include 'partials/breadcrumbs/index.html' with {
                    breadcrumbs: breadcrumbs
                }
            %}
        </div>
    </section>

    <section class="pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7 col-lg-8 mb-2">
                    {% if postcode is defined %}
                        <div class="d-flex mb-2">
                            <h1><i class="fa fa-check text-success mr-1"></i></h1>
                            <div>
                                <h1>{{entry.title}} in <span id="area1">London</span> is Available</h1>
                                <p>We’re ready to help with whatever you need. We can answer your questions, give helpful advice and schedule an engineer to visit you.</p>  
                            </div>
                        </div>
                        <div class="card bg-light text-white mb-5 border-0 shadow">
                            <img id="map" class="card-img">
                        </div>
                    {% else %}
                        <h1>{{entry.heroTitle}}</h1>
                        <div class="card bg-light text-white mb-5 border-0 shadow fade-in-up">
                            <img src="{{heroBackground.getUrl('thumbnail')}}" class="card-img" alt="{{heroBackground.title}}">
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 mb-2">
                            {% include 'partials/content/index.html' %}
                        </div>
                    </div>
                    <div class="card px-3 border-0">
                        <div class="row align-items-center">
                            {% for accreditation in accreditations %}
                                <div class="col-3 px-2 py-2 px-md-3 px-xl-4">
                                    {% set accreditaionLogo = accreditation.image.one() %}
                                    <img class="fade-in" src="{{accreditaionLogo.getUrl('logo')}}" alt="{{accreditaionLogo.title}}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-4 align-self-start">
                    {% include 'partials/price-card/index.html' with {
                        service: entry,
                        hideButtons: false,
                        hideImage: true
                    } %}
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light py-0 py-md-5 cta">
        {% include 'partials/cta/index.html' %}
    </section>

</main>

{% minify js%}
<script>
    (function () {

        const defaultArea = 'London';
        let lat = '0';
        let lon = '0';
        let baseUrl = document.getElementById("baseUrl") ? document.getElementById("baseUrl").value : '';
        let mapUrl = baseUrl + 'assets/img/staticmap.png';
        let mapUrlBase = 'https://maps.googleapis.com/maps/api/staticmap?'+
                         'center=London,UK'+
                         '&zoom=10&scale=2&size=640x300&maptype=roadmap'+
                         '&key=AIzaSyDq_al7-m5pkeAWG8O2rRczEJFi6wzOHm0'+
                         '&markers=size:mid%7Ccolor:0xED533B%7C';
        let area = '';
        let postcode = document.getElementById("postcode") ? document.getElementById("postcode").value : '';

        if (postcode != ''){
            getAreaByPostcode(postcode)
            .then(data => {
                if (data.result.nhs_ha == 'London') {
                    area = data.result.admin_district;
                    lat = data.result.latitude;
                    lon = data.result.longitude;
                    mapUrl = mapUrlBase + lat + ',' + lon;
                    console.log(data.result);
                    setTimeout(() => {
                        doContinue();
                    }, 0);
                } else {
                    area = defaultArea;
                    setTimeout(() => {
                        doContinue();
                    }, 0);
                }
            })
            .catch(error => {
                area = defaultArea;
                setTimeout(() => {
                    doContinue();
                }, 0);
            });
        }

        function doContinue(){
            document.getElementById("area1") ? document.getElementById("area1").innerHTML = area : '';
            document.getElementById("map") ? document.getElementById("map").src = mapUrl : '';
        }

        return false;

        function getAreaByPostcode(postcode) {
            
            const url = 'http://api.postcodes.io/postcodes/' + postcode;

            return new Promise((resolve, reject) => {
                $.ajax({
                    url: url,
                    type: 'GET',
                    data: {
                        key: 'value',
                    },
                    success: function (data) {
                        setTimeout(() => {
                            resolve(data)
                        }, 0);
                    },
                    error: function (error) {
                        setTimeout(() => {
                            reject(error)
                        }, 0);
                    },
                })
            })
        }

        })();
</script>
{% endminify %}

{% endblock %}