{% extends "layout.html" %}

{% set requestedSlug = craft.app.request.getSegment(2) %}
{% set page = craft.entries()
    .slug(requestedSlug|literal)
    .one() %}

{% set heroBackground = page.heroBackground.one() %}
{% set postcode = craft.app.request.getSegment(3) %}

{% block content %}

<main>

    <input type="hidden" id="postcode" value="{{postcode}}">

    {% include 'partials/navbar/index.html' %}

    <section class="py-2">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white pl-0">
                    <li class="breadcrumb-item"><a href="{{ siteUrl }}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{ page.url }}">{{ page.title }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span id="area1"></span></li>
                </ol>
            </nav>
        </div>
    </section>

    <section class="pt-3 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-7 col-xl-8 align-self-start mb-2">
                    <h1>{{page.title}} specialists available in <span id="area2"></span></h1>
                    <p>We’re ready to help with whatever you need. We can answer your questions, give helpful advice and schedule a plumber to visit you.</p>  
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-7 col-xl-8 align-self-start mb-2">
                    <div class="card bg-light text-white mb-2 border-0">
                        <img src="{{heroBackground.getUrl('thumbnail')}}" class="card-img" alt="{{heroBackground.title}}">
                    </div>

                    <div class="row">
                        <div class="col-12 mb-2">
                            {% include 'partials/content/index.html' %}
                        </div>
                    </div>

                    {% set accreditations = craft.entries()
                        .section('accreditations')
                        .all() %}
                        <div class="card bg-light px-3 border-0">
                            <div class="row align-items-center">
                                {% for accreditation in accreditations %}
                                    <div class="col-3 px-2 py-2 px-md-3 px-xl-4">
                                        {% set accreditaionLogo = accreditation.image.one() %}
                                        <img src="{{accreditaionLogo.getUrl('logo')}}" alt="{{accreditaionLogo.title}}">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                </div>
                <div class="col align-self-start">
                    {% include 'partials/price-card/index.html' with {
                        service: page,
                        hideButtons: false,
                        hideImage: true
                    } %}
                </div>
            </div>
        </div>
    </section>

    {% include 'partials/booking-form/index.html' %}

</main>

{% endblock %}