{% extends "layout.html" %}

{% set services = craft.entries().section('services').all() %}

{% block content %}

<main>

    {% include 'partials/navbar/index.html' with {
        services: services
    } %}

    <section class="py-2">
        <div class="container">
            {% include 'partials/breadcrumbs/index.html' with {
                    breadcrumbs: [
                        {
                            name: 'Home',
                            url: siteUrl
                        },
                        {
                            name: entry.title,
                            url: entry.url
                        }
                    ]
                }
            %}
        </div>
    </section>

    <section class="pt-3 pb-5">
        <div class="container bg-white shadow py-4 fade-in-up">
            {% include 'partials/content/index.html' %}
        </div>
    </section>

</main>

{% endblock %}