<footer class="bg-dark py-4">
    <section>
        <div class="container text-white">
            <div class="row text-center text-md-left">
                <div class="col-12 col-md-4 mb-2 d-flex flex-column align-items-center align-items-md-start">
                    <p class="font-weight-bold text-white lead">
                        Contacts
                    </p>
                    <span><a href="tel:+44{{contactInformation.phone}}" class="text-white"><i class="fa fa-phone mr-1"></i><span itemprop="telephone">{{contactInformation.phone}}</span></a></span>
                    <span><a href="mailto:{{contactInformation.emailAddress}}" class="text-white"><i class="fa fa-envelope mr-1"></i><span itemprop="email">{{contactInformation.emailAddress}}</span></a></span>
                    <ul itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="navbar-nav address mt-2">
                        <li itemprop="name" class="font-weight-bold">{{contactInformation.companyName}}</li>
                        <li itemprop="streetAddress">{{contactInformation.address1stLine}}</li>
                        <li>{{contactInformation.address2ndLine}}</li>
                        <li itemprop="addressLocality">{{contactInformation.city}}</li>
                        <li>{{contactInformation.country}}</li>
                        <li itemprop="postalCode">{{contactInformation.postCode}}</li>
                    </ul>
                    <p class="mb-0 mt-2"><time itemprop="openingHours" datetime="Mo-Su">(Open Monday through Sunday, all day)</time></p>
                    <span itemprop="areaServed" itemscope itemtype="https://schema.org/GeoCircle" class="invisible">
                        <span itemprop="name">Service area</span>
                        <span itemprop="geoMidpoint" itemscope itemtype="https://schema.org/GeoCoordinates">
                            <span itemprop="postalCode">EC1A</span>
                            <span itemprop="latitude">51.520269</span>
                            <span itemprop="longitude">-0.103846</span>
                            <span itemprop="description">Service across London</span>
                            <span itemprop="name">London</span>
                        </span>
                        <span itemprop="geoRadius">30000</span>
                    </span>
                </div>
                <div class="col-12 d-block d-md-none">
                    <hr>
                </div>
                <div class="col-12 col-md-4 mb-2">
                    <p class="font-weight-bold text-white lead">
                        Services
                    </p>
                    {% set services = craft.entries()
                        .section('services')
                        .all() %}
                        <ul class="navbar-nav">
                            {% for service in services %}
                                <li class="nav-link pt-0"><a class="text-white" href="{{ service.url }}">{{ service.title }}</a></li>
                            {% endfor %}
                        </ul>
                </div>
                <div class="col-12 d-block d-md-none">
                    <hr>
                </div>
                <div class="col-12 col-md-4 mb-2">
                    <p class="font-weight-bold text-white lead">
                        Legal
                    </p>
                    <ul class="navbar-nav">
                        <li class="nav-link pt-0"><a class="text-white" href="{{ siteUrl }}terms-and-conditions">Terms and Conditions</a></li>
                        <li class="nav-link pt-0"><a class="text-white" href="{{ siteUrl }}privacy-policy">Privacy Policy</a></li>
                        <li class="nav-link pt-0"><a class="text-white" href="{{ siteUrl }}cookie-policy">Cookie Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="underfooter mt-2">
        <div class="container text-light text-small text-center text-md-left d-flex align-items-center flex-column flex-md-row">
            <span>&copy; 2019</span>
            <span class="ml-md-auto">
                <a href="{{ siteUrl }}"><img class="logo mb-2" src="{{ siteUrl }}assets/img/logo.png" alt="Logo" title="Casafix Logo"></a>
            </span>
        </div>
    </section>
</footer>