<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top d-flex flex-column shadow mt-0">
    <div class="container">
        <div class="d-flex flex-grow-1 align-items-center">
            <a class="navbar-brand" href="{{ siteUrl }}"><img itemprop="image" class="logo" src="{{ siteUrl }}assets/img/casafix-logo.png" alt="Casafix Logo" title="Casafix"></a>
            <span itemprop="name" class="invisible">Casafix</span>
            <div class="d-flex align-items-center flex-grow-1">
                <ul class="navbar-nav mr-auto flex-row d-none d-lg-flex">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Services
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for service in services %}
                                <a class="dropdown-item" href="{{ service.url }}">{{ service.title }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ siteUrl }}about-us">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ siteUrl }}prices">Prices</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto d-none d-md-flex">
                    <li class="nav-item">
                        <a class="nav-link lead" onclick="return gtag_report_conversion('tel:+44{{ contactInformation.phone}}');" href="tel:+44{{ contactInformation.phone}}"> <i class="fa fa-phone mr-1 border-rounded"></i><span class="d-none d-md-inline-block">{{ contactInformation.phone }} <span class="text-lowercase">(free)</span></span></a>
                    </li>
                </ul>
                <a class="btn btn-warning text-white d-block d-md-none ml-auto phone" onclick="return gtag_report_conversion('tel:+44{{ contactInformation.phone}}');" href="tel:+44{{ contactInformation.phone }}"><i class="fa fa-phone mr-1 border-rounded"></i></a>
                {% if 'book' != craft.app.request.getSegment(1) %}
                    <a href="{{ siteUrl }}book" class="btn d-block btn-primary ml-2 text-center shadow">Book</a>
                {% endif %}
            </div>
            <span class="burger-menu d-block d-lg-none ml-2" onclick="toggleMobileMenu()">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </span>
        </div>
    </div>
    {% include 'partials/loader-bar/index.html' %}
</nav>
<nav class="mobile-menu bg-dark d-flex align-items-center">
    <ul class="navbar-nav mr-auto flex-column justify-content-center align-items-center flex-fill py-5">
        <li class="nav-item text-center">
            <a class="nav-link text-white" href="{{ siteUrl }}">Home</a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link text-white" href="{{ siteUrl }}about-us">About Us</a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link text-white" href="{{ siteUrl }}prices">Prices</a>
        </li>
        {% for service in services %}
            <li class="nav-item text-center">
                <a class="nav-link text-white" href="{{ service.url }}">{{ service.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>

{% minify %}
<script>
    $('.mobile-menu a').click(function (e) {
        toggleMobileMenu();
    });
    
    function toggleMobileMenu() {
        document.body.classList.toggle("mobile-menu");
    }
    
    const navbar = document.getElementById('navbar');
    $(window).on("load resize scroll",function(e){
        if ($(document).scrollTop() > 100) {
            navbar.classList.add('scrolled');
        }
        else {
            navbar.classList.remove('scrolled');
        }
    });
</script>
{% endminify %}