{% extends "layout.html" %}

{% set heroBackground = entry.heroBackground.one() %}
{% set services = craft.entries().section('services').all() %}
{% set reviews = craft.entries().section('reviews').all() %}
{% set whys = craft.entries().section('whys').all() %}

{% block content %}
<main>

        {% include 'partials/navbar/index.html' with {
            services: services
        } %}
    
        <section class="hero pt-1 pt-md-4">
            {% include 'partials/hero/index.html' with {
                    heroBackground: heroBackground,
                    heroTitle: entry.heroTitle
                } 
            %}
        </section>
    
        <section class="request-quote pb-3 pt-3 pt-md-0 pb-md-5">
            {% include 'partials/request-quote/index.html' %}
        </section>
        
        <section class="why-casafix pb-5 pt-5 pt-md-0">
            {% include 'partials/whys/index.html' with {
                whys: whys
            } %}
        </section>
    

    
    <section class="services bg-light py-5">
        {% include 'partials/services/index.html' with {
            services: services
        } %}  
        <div class="container">
            <hr>
        </div>

        <div class="container">
            <h4 class="text-center mb-3">
                Our Accreditations
            </h4>
            <div class="card px-3 border-0 bg-light">
                {% set accreditations = craft.entries()
                    .section('accreditations')
                    .all() %}
                <div class="row align-items-center">
                    {% for accreditation in accreditations %}
                        <div class="col-3 px-2 py-2 px-sm-3 px-md-4 px-xl-5">
                            {% set accreditaionLogo = accreditation.image.one() %}
                            <img class="fade-in" src="{{accreditaionLogo.getUrl('logo')}}" alt="{{accreditaionLogo.title}}" title="{{accreditaionLogo.title}}">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="py-0 py-md-5 cta">
        {% include 'partials/cta/index.html' %}
    </section>

</main>

{% endblock %}