{% extends "layout.html" %}

{% set heroBackground = entry.heroBackground.one() %}
{% set services = craft.entries().section('services').all() %}
{% set reviews = craft.entries().section('reviews').all() %}
{% set whys = craft.entries().section('whys').all() %}

{% block content %}
<main>

    {% cache %}
        {% include 'partials/navbar/index.html' with {
            services: services
        } %}
    {% endcache %}

    {% cache %}
        {% include 'partials/hero/index.html' with {
                heroBackground: heroBackground,
                heroTitle: entry.heroTitle
            } 
        %}
    {% endcache %}

    {% cache %}
        {% include 'partials/request-quote/index.html' %}
    {% endcache %}

    {% cache %}
        <section class="why-casafix pb-5 pt-5 pt-md-0">
            {% include 'partials/whys/index.html' with {
                whys: whys
            } %}
        </section>
    {% endcache %}

    {% cache %}
        <section class="services bg-light py-5">
            {% include 'partials/services/index.html' with {
                services: services
            } %}  
            <div class="container">
                <hr>
            </div>
            {% include 'partials/reviews/index.html' with {
                reviews: reviews
            } %}
        </section>
    {% endcache %}

    {% cache %}
        <section class="py-0 py-md-5 cta">
            {% include 'partials/cta/index.html' %}
        </section>
    {% endcache %}

</main>

{% endblock %}