<!DOCTYPE html>
<html>
    <head>
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150953138-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-150953138-1');
        </script>

        <!-- Hotjar Tracking Code for casafix.co.uk -->
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:1544435,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>

        <!-- HubSpot Embed Code -->
        <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/6682263.js"></script>

        <link rel="stylesheet" href="{{ siteUrl }}assets/css/style.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        {% include 'partials/seo/index.html' %}
        <link rel="shortcut icon" type="image/png" href="{{ siteUrl }}favicon.png"/>
        <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
    </head>
    <body itemscope itemtype="http://schema.org/LocalBusiness">
        {% block content %}{% endblock %}
        {% include 'partials/footer/index.html' %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
        <script src="{{ siteUrl }}assets/js/functions.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5dc33efe3fec7d4e"></script>
        
        {% minify js %}
        <script>
            $('a').click(function (e) {
                if (this.href && !this.href.includes("tel:") && !this.href.includes("mailto:")){
                    displayLoader();
                }
            });
            function displayLoader(){
                document.getElementById("PreLoaderBar").style.display = "block";
                setTimeout(() => {
                    document.getElementById("PreLoaderBar").style.display = "none";
                }, 10000);
            }
        </script>
        {% endminify %}
    </body>
</html>