@import 'styles/bootstrap-overrides';
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import 'styles/responsiveness';

@import "../node_modules/slick-carousel/slick/slick.scss";
@import "../node_modules/slick-carousel/slick/slick-theme.scss";

@import "partials/navbar/style.scss";
@import "partials/hero/style.scss";
@import "partials/whys/style.scss";
@import "partials/cta/style.scss";
@import "partials/footer/style.scss";
@import "partials/request-quote/style.scss";
@import "partials/loader-bar/style.scss";

* strong {
    font-weight: bold;
}

.card {
    overflow: hidden;
}

body {
    padding-top: 5rem;
}

.bg-gradient {
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 110%;
        background: radial-gradient(circle, rgba(9,9,121,0) 0%, rgba(255,214,90,0.2777485994397759) 74%, rgba(237,83,59,0.7707457983193278) 100%);
    }
}

img{
    max-width: 100%;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 110%;
        background: radial-gradient(circle, rgba(9,9,121,0) 0%, rgba(255,214,90,0.2777485994397759) 74%, rgba(237,83,59,0.7707457983193278) 100%);
    }
}

a{
    cursor: pointer;
}

.btn {
    text-transform: uppercase;
    font-weight: bold;   
    display: flex;
    justify-content: center; 
    min-width: 12rem;

    nav & {
        min-width: auto;
    }
}

.input-group-prepend {
    max-width: 14rem;

    select{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.required {

    label {

        &:after {
            content: ' *';
            color: red;
        }
    }

    .errors{

        textarea, input {
            border-color: red;
        }

    }
}

.cta {
    
    @include media-breakpoint-down(sm) {
        background-color: #FFD65A!important;
    
        .container {
            max-width: 100%;
        }
    }
}

.slick-dots li button:before {
    font-size: 1rem;
}

.slick-dots, .slick-next, .slick-prev {
    position: relative;
}
