{% set heroBackground = service.heroBackground.one() %}
{% set hourlyRates = service.hourlyRate.all() %}
<div class="card text-center shadow fade-in-up">
    <div class="card-header py-2">
        <p class="font-weight-bold lead mb-1"><a href="{{service.url}}">{{service.title}}</a> - Pricing</p>
        {% if hourlyRates|length > 0 %}
            <p class="mb-0 small">Hourly rates</p>
            {% else %}
                <p class="mb-0 small">Estimate required</p>
        {% endif %}
    </div>
    {% if hideImage != true %}
        <img src="{{heroBackground.getUrl('hero')}}" alt="{{heroBackground.title}}" title="{{heroBackground.title}}">
    {% endif %}
    <div class="card-body pt-1">
        <ul class="list-group list-group-flush">
            {% for block in hourlyRates %}
                {% if block.type == "weekdays" %}
                    <p class="mb-0 mt-2 small text-muted font-weight-bold">{{block.weekdays}}<p>
                {% elseif block.type == "rate" %}
                    <li class="list-group-item"><i class="fa fa-clock-o mr-1 text-muted"></i>{{block.from|time('short')}} - {{block.to|time('short')}} <span class="ml-2"><strong>£{{block.price}}/h</strong></span></li>
                {% endif %}
            {% endfor %}
            {% if hourlyRates|length == 0 %}
                <p class="mb-0 mt-2 px-2"><i class="fa fa-info-circle mr-1"></i>Please get in touch to receive a free quote</p>
            {% endif %}
            {% if hideButtons != true %}
                <a href="{{ siteUrl }}book" class="btn btn-outline-primary mt-2 btn-block">Request Service</a>
            {% endif %}
        </ul>
    </div>
</div>