{% extends "layout.html" %}

{% set requestedSlug = craft.app.request.getSegment(2) %}
{% set services = craft.entries().section('services').all() %}
{% set reviews = craft.entries().section('reviews').all() %}

{% block content %}

<main>

    {% include 'partials/navbar/index.html' with {
        services: services
    } %}

    <section class="py-2">
        <div class="container">
            {% include 'partials/breadcrumbs/index.html' with {
                    breadcrumbs: [
                        {
                            name: 'Home',
                            url: siteUrl
                        },
                        {
                            name: entry.title,
                            url: entry.url
                        }
                    ]
                }
            %}
        </div>
    </section>

    <section class="pb-3">
        <div class="container bg-white shadow py-4 fade-in-up">
            {% include 'partials/content/index.html' %}
        </div>
    </section>

    <section class="services py-5"> 
        {% include 'partials/reviews/index.html' with {
            reviews: reviews
        } %}
        <div class="container mb-4">
            <hr>
        </div>
        {% include 'partials/services/index.html' with {
            services: services
        } %}
    </section>

    <section class="py-0 py-md-5 cta bg-light">
        {% include 'partials/cta/index.html' %}
    </section>

</main>

{% endblock %}