{% extends "layout.html" %}

{% set requestedSlug = craft.app.request.getSegment(2) %}
{% set services = craft.entries().section('services').all() %}

{% block content %}

<main>

    {% include 'partials/navbar/index.html' %}

    <section class="py-2">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white pl-0">
                    <li class="breadcrumb-item"><a href="{{ siteUrl }}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="entry">{{ entry.title }}</li>
                </ol>
            </nav>
        </div>
    </section>

    <section class="pt-3 pb-3">
        <div class="container">
            {% include 'partials/content/index.html' %}
        </div>
    </section>

    <section class="services bg-light py-5">
        <div class="container text-center mb-5">
            <div class="row justify-content-center mb-2">
                <div class="col-12 col-md-8">
                    <h2>Services</h2>
                    <p class="text-muted">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nulla nostrum perspiciatis nisi sequi consequuntur voluptate aliquid recusandae doloremque provident eveniet earum enim, officia, ut mollitia totam hic fugit voluptas?
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                {% for service in services %}
                    {% set heroBackground = service.heroBackground.one() %}
                    <div class="col-12 col-md-4">
                        <h3><a href="{{ service.url }}">{{service.title}}</a></h3>
                        <div class="card text-white">
                            <div class="overlay"></div>
                            <a href="{{ service.url }}">
                                <img src="{{heroBackground.getUrl('thumbnail')}}" class="card-img" alt="{{heroBackground.title}}">
                                <div class="card-img-overlay"></div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>  
        <div class="container">
            <hr>
        </div>
        <div class="container text-center mt-5">
            <div class="row justify-content-center mb-2">
                <div class="col-12 col-md-8">
                    <h3>What our clients say</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                {% set reviews = craft.entries()
                    .section('reviews')
                    .all() %}
                {% for review in reviews %}
                    <div class="col-12 col-md-4">
                        {% set service = review.service.one() %}
                        <h3 class="text-warning">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </h3>
                        <p>{{review.review}}</p>
                        <p class="muted mb-1">{{review.reviewAuthor}}</p>
                        <a href="{{ service.url }}">{{service.title}}</a>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>

    <section class="py-5">
        {% include 'partials/cta/index.html' %}
    </section>

</main>

{% endblock %}