
<div class="container mb-5">
    <h3 class="text-center mb-4">
        Why Casafix plumbers?
    </h3>
    <div class="row text-center">        
        {% for why in whys %}
            <div class="col-12 col-md-6 col-xl-3 fade-in">
                {% set iconUrl = siteUrl~'assets/img/casafix-icon.png' %}
                <img class="icon mb-2" src="{{iconUrl}}" alt="Icon" title="Casafix icon">
                <p class="font-weight-bold mb-2 lead">{{why.title}}</p>
                <p>{{why.whyParagraph}}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% include 'partials/reviews/index.html' with {
    reviews: reviews
} %}