<div class="container text-center mt-5">
    <div class="row justify-content-center mb-2">
        <div class="col-12 col-md-8">
            <h3>What our clients say</h3>
            <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" class="invisible">
                <span itemprop="ratingValue">5</span> 
                <span itemprop="bestRating">5</span> 
                <span itemprop="worstRating">5</span>
                <span itemprop="ratingCount">{{reviews|length}}</span>
            </span>
        </div>
    </div>
    <div class="row justify-content-center review-slider">
        {% for review in reviews %}
            {% include 'partials/review-card/index.html' with {
                review: review
            } %}
        {% endfor %}
    </div>
</div>

{% minify js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick.min.js"></script>
<script>
    (function () {
        $('.review-slider').slick({
            arrows: false,
            dots: true,
            centerMode: true,
            slidesToShow: 3,
            centerPadding: '60px',
            adaptiveHeight: true,
            focusOnSelect: true,
            responsive: [
                {
                breakpoint: 768,
                settings: {
                    centerPadding: '30px',
                    slidesToShow: 2
                }
                },
                {
                breakpoint: 480,
                settings: {
                    centerPadding: '30px',
                    slidesToShow: 1
                }
                }
            ]
        });
    })();
</script>
{% endminify %}